trigger:
- master

jobs:
- job: linux
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    maxParallel: 10
    matrix:
      swift420:
        containerImage: norionomura/swiftlint:swift-4.2.0
      swift421:
        containerImage: norionomura/swiftlint:swift-4.2.1
      swift422:
        containerImage: norionomura/swiftlint:swift-4.2.2
      swift423:
        containerImage: norionomura/swiftlint:swift-4.2.3
      swift50:
        containerImage: swift:5.0
  container: $[ variables['containerImage'] ]
  steps:
    - script: swift test --parallel
      displayName: swift test
    - script: |
        set -o pipefail
        mkdir -p build/reports/
        swiftlint lint --strict --reporter junit > build/reports/swiftlint.xml
      displayName: swiftlint
      condition: contains(variables['containerImage'], 'swiftlint')
    - task: PublishTestResults@2
      inputs:
        testRunner: JUnit
        testResultsFiles: build/reports/**
        failOnStandardError: 'true'
      condition: failed()

- job: macOS
  pool:
    vmImage: 'macOS 10.13'
  strategy:
    maxParallel: 10
    matrix:
      xcode10:
        DEVELOPER_DIR: /Applications/Xcode_10.app
      xcode101:
        DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: git submodule update --init --recursive
      displayName: Update git submodules
    - script: xcodebuild -version
      displayName: xcodebuild -version
    - script: >
        set -o pipefail &&
        xcodebuild -workspace SourceKitten.xcworkspace -scheme sourcekitten -parallel-testing-enabled NO test |
        xcpretty -r junit -o build/reports/xcodebuild-macos.xml
      displayName: xcodebuild test
      condition: succeededOrFailed()
    - script: >
        set -o pipefail &&
        swift test --parallel
      displayName: swift test
      condition: succeededOrFailed()
    - task: PublishTestResults@2
      inputs:
        testRunner: JUnit
        testResultsFiles: build/reports/**
        failOnStandardError: 'true'
      condition: succeededOrFailed()

- job: CocoaPods
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: bundle update --bundler
      displayName: Update bundler
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec pod repo update
      displayName: pod repo update
    - script: bundle exec pod lib lint
      displayName: pod lib lint

- job: Jazzy
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: swift build
      displayName: swift build
    - script: swift run sourcekitten doc --spm-module SourceKittenFramework > SourceKittenFramework.json
      displayName: Generate documentation json
    - script: bundle update --bundler
      displayName: Update bundler
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec jazzy --clean --sourcekitten-sourcefile SourceKittenFramework.json
      displayName: Run jazzy
    - task: PublishPipelineArtifact@0
      inputs:
        artifactName: 'API Docs'
        targetPath: 'docs'
