<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}} {{kind}} Reference</title>
    <link rel="stylesheet" type="text/css" href="css/jazzy.css" />
    <link rel="stylesheet" type="text/css" href="css/highlight.css" />
    <meta charset='utf-8'>
    <script src="js/jquery.min.js" defer></script>
    <script src="js/jazzy.js" defer></script>
  </head>
  <body>
    <div class="content-wrapper">
      <p id="breadcrumbs">
        <a href="index.html">Realm Swift Reference</a>
        <img id="carat" src="img/carat.png" />
        {{name}} {{kind}} Reference
      </p>
    </div>
    <div class="content-wrapper">
      <article class="main-content">
        <section>
          <section class="section">
          </section>
        </section>
      </article>
    </div>
  </body>
</div>
</html>
