name: Bazel

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:
  MacOS:
    runs-on: macos-12
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.4.1.app
    steps:
      - uses: actions/checkout@v2
      - run: bazelisk test //Tests:UnitTests --test_env=PROJECT_ROOT=$(bazelisk info workspace)
      - run: bazelisk build sourcekitten
  Linux:
    strategy:
      matrix:
        tag: ['5.6-focal']
    runs-on: ubuntu-latest
    container:
      image: swift:${{ matrix.tag }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1' # The Go version to download (if necessary) and use.
      - name: Setup Bazel
        run: go install github.com/bazelbuild/bazelisk@latest
      - name: Build SourceKitten
        run: bazelisk build sourcekitten
