name: Jazzy

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:
  Jazzy:
    runs-on: ubuntu-latest
    container:
      image: norionomura/jazzy:0.13.6_swift-5.3.3
    steps:
      - uses: actions/checkout@v2
      - run: bundle install --path vendor/bundle
      - run: swift build
      - name: Generate documentation json
        run: swift run sourcekitten doc --spm --module-name SourceKittenFramework > SourceKittenFramework.json
      - name: Run jazzy
        run: bundle exec jazzy --clean --sourcekitten-sourcefile SourceKittenFramework.json
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: API Docs
          path: docs
