name: SwiftLint

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:0.58.2
    steps:
      - uses: actions/checkout@v3
      - name: Run SwiftLint
        run: swiftlint --strict
